{% if error %}
<p>{{ error }}</p>
{% endif %}

<form action="{% url 'accounts_create' %}" method="post">
    {% csrf_token %}
    <input type="email" name="email" placeholder="email" required>
    <input type="password" name="password" placeholder="password" required>
    <button type="sumit">Sign-up</button>
</form>