{% if error %}
<p>{{ error }}</p>
{% endif %}

<form action="{% url 'accounts_login' %}" method="post">
    {% csrf_token %}
    <input type="text" name="username" placeholder="username" required>
    <input type="password" name="password" placeholder="password" required>
    <button type="sumit">Sign-in</button>
</form>

<br>

<a href="{% url 'accounts_create' %}">Create account</a>