{% load static %}
<!doctype html>
<html>

<head>
    <meta charset="utf-8">
    <title>The HTML5 Herald</title>
    <link rel="stylesheet" href="{% static 'styles.css'%}">
</head>

<body>
    {% block body %}
    {% endblock %}
</body>

</html>