{% extends 'layout.html' %}

{% block body %}
<h1>Available posts</h1>
<ul>
    {% for post in all_posts %}
    <li><a href="/post/{{ post.id }}">{{ post.title }}</a></li>
    {% endfor %}
</ul>
{% endblock %}