<h1>Contacts</h1>

<table border="1">
    <thead>
        <tr>
            <th>Name</th>
            <th>Email</th>
            <th>Address</th>
            <th>Actions</th>
        </tr>
    </thead>
    <tbody>
        {% for contact in object_list %}
        <tr>
            <td>{{ contact.name }}</td>
            <td>{{ contact.email }}</td>
            <td>{{ contact.address }}</td>
            <td>
                <a href="{% url 'contact_detail'  contact.id  %}">details</a>
                <a href="{% url 'contact_update'  contact.id  %}">edit</a>
                <a href="{% url 'contact_delete'  contact.id  %}">delete</a>
            </td>
        </tr>
        {% endfor %}
    </tbody>
</table>

<a href="{% url 'contact_create' %}">Create</a>